{% extends 'base.html' %}

{% block title %} 

Choose Project

{% endblock %}

{% block body %}

<section>

<h1>Hello, {{ personFname }} {{ personLname }}!</h1>
<h2>Please click on project you are working on:</h2>

</section>

<main>
    <!-- <form action = "/project_details">
        {% for project in projects %}
          <input type="radio" id="{{ project.project_id }}" name="project" value="{{ project.project_id }}">
          <label for="{{ project.project_id }}">{{ project.title }}</label>
          <p>{{ project.description }}</p>
          <p>Started: {{ project.start_date }}</p>
        {% endfor %}
        <input type="submit" value="Submit"> -->
        {% for project in projects %}
        <ul>
            <li>
                <a href = "/projects/{{project.project_id}}">
                {{project.title}}
                </a>
            </li>
        </ul>
    {% endfor %}
</main>

{% endblock %}