{% extends 'base.html' %}

{% block title %}Mishra's Lab{% endblock %}

{% block content %}


<div class="container">
	<div class="col-md">
		<div class="d-flex justify-content-center">
			<p class="text-justify" id="about">
				Welcome to the Mishra's lab page
				<br><br>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor orci dapibus ultrices in iaculis. Enim sed faucibus turpis in. Risus commodo viverra maecenas accumsan lacus vel facilisis.
				<br><br>
				Ut consequat semper viverra nam libero justo laoreet sit. Egestas erat imperdiet sed euismod nisi porta lorem. Aliquam id diam maecenas ultricies. Malesuada proin libero nunc consequat interdum varius sit amet mattis.
			</p>
		</div>
	</div>
</div>

{% endblock %}