{% extends 'base.html' %}

	<style>
		body { margin: 0; padding: 0; }
	</style>
	

{% block content %}

<div class="container-fluid">
	<div class="col">
		<form id="select-details" method="post" action="/details">
			
			<div class="form-group row">
				<label>Select project to see details</label>
				<select class="form-control" id="project-title-field" name="project_id">
					<!-- for loop to display all projects names -->
					{% for project in projects %}
						<option value="{{ project.project_id }}">{{ project.title }}
						</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-group row">
				<button type="submit" class="btn btn-outline-secondary">Submit</button>
			</div>

			</form>
		</div>
	</div>


    <!-- 	display details here -->

    <div>
        <div>
            <h2 id="show-title"></h2>
        </div>


        <div id="details">
            <p id="show-description"></p>
        </div>


		<div id="details">
            <p id="show-start-date"></p>
        </div>
    </div>

	<img src="https://d31kydh6n6r5j5.cloudfront.net/uploads/sites/24/2019/01/1613407_orig.jpg?resize=700,394&crop=0,8,100,84" class="img-fluid" alt="Responsive image">
	<!-- <script type="text/javascript" src="static/main.js"></script> -->
{% endblock %}