{% extends 'base.html' %}

{% block title %} 

{% endblock %}

{% block body %}
<h1>Project: "{{ project.title }}."</h1>
<p>Project description: "{{ project.description }}."</p>
<p>Started: {{ project.start_date }}</p>

<!-- Todo Table -->
<div>          
  <table class="table">
      <thead>
      <tr>
          <th class="task-id">#</th>
          <th class="task">Task Name</th>
          <th class="status">Status</th>
          <th class="update">Edit</th>
          <th class="update">Remove</th>
      </tr>
      </thead>

      <tbody>
      {% for tasks in project.tasks %}
          <tr>
              <td>{{tasks.task_id}}</td>
              <td>{{tasks.description}}</td>

              {% if tasks.status == "In Progress" %}
                    <td><button type="button" data-source="{{tasks.task_id}}">{{tasks.status}}</button></td>
                {%endif%}
                {% if tasks.status == "Todo" %}
                    <td><button type="button" data-source="{{tasks.task_id}}">{{tasks.status}}</button></td>
                {%endif%}
                {% if tasks.status == "Complete" %}
                    <td><button type="button" data-source="{{tasks.task_id}}">{{tasks.status}}</button></td>
                {%endif%}

                <td><button type="button" data-source="{{tasks.task_id}}">Edit</button></td>

                <td><button class="remove" data-source="{{tasks.task_id}}" type="button">Remove</button></td>

      {% endfor %}
      
      </tbody>
  </table>

<main>

    <h1>Add new task to the project:</h1>
    <form action="/project_details/{{ project.project_id }}">
      <p>
        <!-- <label> New task: <input type="text" name="task"></label> -->
        <label>New task: 
          <textarea name="task" rows="3" cols="35"></textarea>
        </label>
      </p>
      <p>
        <label for="status"> Select status:</label>
        <select name="status">
          <option value="todo">Todo</option>
          <option value="inProgress">In Progress</option>
          <option value="complete">Complete</option></select>
        </p>
      <p>
        <input type="submit">
      </p>
    </form>

{% endblock %}