{% extends 'base.html' %}

{% block title %} 

{% endblock %}

{% block body %}

<!-- Todo Table -->
<div>          
  <table class="table">
      <thead>
      <tr>
          <th class="task-id">#</th>
          <th class="task">Task Name</th>
          <th class="status">Status</th>
          <th class="update">Edit</th>
          <th class="update">Remove</th>
      </tr>
      </thead>

      <tbody>
      {% for tasks in project.tasks %}
          <tr>
              <td>{{tasks.task_id}}</td>
              <td>{{tasks.description}}</td>

              {% if tasks.status == "In Progress" %}
                    <td><button type="button" data-source="{{tasks.task_id}}">{{tasks.status}}</button></td>
                {%endif%}
                {% if tasks.status == "Todo" %}
                    <td><button type="button" data-source="{{tasks.task_id}}">{{tasks.status}}</button></td>
                {%endif%}
                {% if tasks.status == "Complete" %}
                    <td><button type="button" data-source="{{tasks.task_id}}">{{tasks.status}}</button></td>
                {%endif%}


                <td><button type="button" data-source="{{tasks.task_id}}">Edit</button></td>

                <td><button class="remove" data-source="{{tasks.task_id}}" type="button">Remove</button></td>

      {% endfor %}
      
      </tbody>
  </table>

<main>

    <h1>Add task to the project:</h1>
    <form action="/project_details/{{ project.project_id }}">
      <p><label> Task: <input type="text" name="task"></label></p>
      <p><label> Due date: <input type="date" name="pub_date"></label></p>
      <p><input type="submit"></p>
    </form>

{% endblock %}