{% extends 'base.html' %}

{% block title %}List of existing tasks{% endblock %}

{% block content %}

<!-- list of tasks -->

	<div class="row" style="margin: 5% 5% 5% 70%;">
		<div class="col-sm">
			<a class="btn btn-secondary btn-lg" href="{{ url_for('new_task_form') }}">Create New Task</a>
		</div>
	</div>

	<h1 style="margin: 0 0 5% 10%;">Tasks</h1>



<div style="margin: 0 10% 5% 10%;">          
  <table class="table">
      <thead>
      <tr>
          
          <th class="project-id">Project #</th>
          <th class="task-id">Task #</th>
          <th class="task">Task Name</th>
          <th class="status">Status</th>
          <th class="update">Edit</th>
          <th class="update">Remove</th>
      </tr>
      </thead>

      <tbody>
      {% for tasks in tasks %} 
          <tr>
            <td>{{tasks.project_id}}</td>
              <td>{{tasks.task_id}}</td>
              <td>{{tasks.description}}</td>

              {% if tasks.status == "In Progress" %}
                    <td><button type="button" data-source="{{tasks.task_id}}">{{tasks.status}}</button></td>
                {%endif%}
                {% if tasks.status == "Todo" %}
                    <td><button type="button" data-source="{{tasks.task_id}}">{{tasks.status}}</button></td>
                {%endif%}
                {% if tasks.status == "Complete" %}
                    <td><button type="button" data-source="{{tasks.task_id}}">{{tasks.status}}</button></td>
                {%endif%}


                <td><button type="button" data-source="{{tasks.task_id}}">Edit</button></td>

                <td>
                    <form action="/delete/{{tasks.task_id}}" method="post">
                        <button data-source="{{tasks.task_id}}" type="submit">Remove</button>
                    </form>
                <td>
                    

      {% endfor %}
      
      </tbody>
  </table>


{% endblock %}